
.btn-secondary-outline {
    color: #ccc;
    background-color: transparent;
    background-image: none;
    border-color: #ccc;
}

li a:hover {
  background color: #ccc;
  border-color: #ccc;
  color: gray;
}

#nav-box {
  margin: 20px;
  margin-right: 60px;
}

.container-full {
  background-image:url('/pingmeupsplash.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

 .container {
  position: relative;
  top:100px;
}

.container-full h1 {
  color: white;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;

}

.container-full p {
  font-size: 20px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
}



.container-full a {
    display: block;
    margin: 0px auto;
}

.container-full h2 {
  color: white;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px black;

}

.search-wrapper {
  text-align: center;
}

#pac-input {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.summary-container {
  text-align: center;
}

.summary-results {

    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

#summary-results h2 {
    text-align: center;
    color: white;
    font-size: 32px;
}

.summary-results p {
    margin-bottom: 13px;
    font-size: 15px;
}

ul li {
  display: inline-block;
  padding-top: 3px;
  margin-right: 3px;
}